lora:
  bias: none
  fan_in_fan_out: false
  inference_mode: false
  init_lora_weights: true
  lora_alpha: 16
  lora_dropout: 0.05
  r: 8
  target_modules:
  - q_proj
  - k_proj
  - v_proj
  - o_proj
  task_type: CAUSAL_LM
  use_dora: false
  use_rslora: false
